.card {
  margin-top: 20px;
  width: 330px;
  background-color: #494544;
  border-radius: 10px;
  color: #fff;
  height: fit-content;
}
.card:hover {
  box-shadow: 1px 3px 5px rgb(160, 92, 180);
}
.card-image {
  width: 330px;
  border-radius: 10px;
  height: 230px;
}
.card-title {
  padding-left: 10px;
  margin-bottom: -5px;
}
.CartBtn {
  background-color: #618967;
  border: none;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  transition: 0.5s 0.5s;
}
.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.CartBtn:hover {
  background-color: #437a4c;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}